@media only screen and (max-width: 688px) {
    
    
    .mobile-view{
        background-color: rgb(243, 239, 239);
        display: flex;
        justify-content: space-between;
        padding: 8px 15px;
    }
    .navegation {
        display: none;
    }

    .Influencer-jarney-area {

        flex-direction: column;
        justify-content: center;
    }

    .jarney-area-details {
        display: block;
        width: 500px;
        align-items: center;
        margin: 0px 80px;
        word-wrap: normal;
    }

    .head-line {
        font-size: 30px;

        padding-bottom: 8px;
        margin-bottom: 0px;
    }

    .description {
        text-align: center;
    }

    .button {
        align-content: center;

    }

    .jarney-area-right img {
        position: relative;
        top: 0px;
        left: 70px;
        width: 300px;
        height: 300px;
    }

    .jarney-area-right {
        height: 280px;
        width: 280px;
    }

    .company-logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: calc();
    }

    .product-container {
        justify-items: center;
        margin: 0px 15px;
        overflow: hidden;

    }

    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .product {
        background-color: #fff;
        overflow: hidden;
        border-radius: 7px;
        width: 329px;
        height: 476px;
        margin: 30px 0px 0px 0px;
        padding: 15px 15px 0px 15px;
        box-shadow: 0px 0px 8px 0px #c1a3a378;
    }
    .product img {
        width: 100%;
        height: 50%;
        border-radius: 7px;}
    .product-title{
        font-size:22px;
    }
    .featured-products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}